
* {
    padding: 0;
    margin: 0;
    text-decoration:none;

}
body{
    background-image: url('img/listbj.jpg');
}

.season-list {
    margin-top: 100px;
    padding-left: 666px;
}

.season-item {
    margin-top: 10px;
    width: 500px;
    height: 90px;
    background-color: #fb729930;
    display: flex;
    border-radius: 10px;
}

img {
    width: 72px;
    height: 72px;
    border-radius: 10%;
    margin: 9px;
   

}


.season-body {
    margin: 10px;
    background-color: rgba(245, 222, 179, 0.575);
    border-radius: 15px;
    width: 380px;
    height: 30px;
    text-align:center;
    font-size: 16px;
}
.season-title{
    color: #ee5480;
    text-align: center;
    margin: 2px;
}


.season-desc{
    color: #fb7299;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    width: 45px;
    border-radius: 9px;
    background-color:  #fb729980;
}
